<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <style>
    body {
      font-family: Helvetica, Arial, sans-serif;
      background: #e7eaee42;

    }

    #template-container {
      background: #e7eaee42;
      border-radius: 10px;
    }

    #mail_body {
      margin-top: 20px;
      margin: 5px;
      color: cornflowerblue;
      font-size: 15px;
      padding-top: 15px;
    }

    #container {
      text-align: center;
      width: 950px;
    }

    #title-container {
      background-color: white;
      height: 40px;
      border-radius: 5px;
      margin: 5px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }

    #chart-container {
      background-color: white;
      border-radius: 5px;
      margin-top: 2px;
      margin-bottom: 20px;
      margin-left: 5px;
      margin-right: 5px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    }

    #chartimg {
      width: 940px;
      border: 1px solid #a0a7a7;
      margin: 10px
    }

    .chart-title {
      font-family: sans-serif;
      color: #439dd3;
      display: inline-block;
      margin: 5px;
      font-size: 15px;
    }

    .chart-value {
      font-family: sans-serif;
      display: inline-block;
      margin: 5px;
      font-size: 15px;
      color: black;
    }

    #dashboard-name {
      float: right;
      margin-right: 30px;
    }

    .links {
      background-color: white;
      /* color: white; */
      padding: 10px;
      text-decoration: none;
      margin-top: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      margin-left: 5px;
    }

    #logo-container {
      margin-top: 25px;
      margin-left: 7px;
    }

    #app-logo {
      height: 60px;
      width: 180px;
      border-radius: 5px;
      opacity: 0.7;
    }

    table {
      border-spacing: 0px;
      margin: 10px;
    }

    th,
    td {
      padding: 3px;
    }
  </style>

</head>

<body>
  <div id="template-container">

    <div class="chart-detail">
      <div>
        <b class="chart-title"> Dashboard</b> : <label class="chart-value"><%= dashboard %></label>
      </div>
      <div>
        <b class="chart-title">View</b> : <label class="chart-value"><%= viewName %></label>
      </div>
    </div>

    <div id="mail_body">
      <%= description %>
    </div>

    <div id="container">
      <div id="title-container">
        <p class="chart-title"><%= reportTitle %></p>
      </div>

      <% if(visualizationType=="Table"){ %>
      <%- chartResponse %>

      <% }else{ %>
      <div id="chart-container">

        <img id="chartimg" src="<%= image_cid %>" alt="Report Image">
        <br />
        <%- htmlTable %>
      </div>
      <% }%>
    </div>

    <a class="links" href="<%= shareLink %>">Go to Widget</a>

    <a class="links" href="<%= buildUrl %>">Go to Dashboard</a>

    <a class="links" href="<%= viewDataLink %>">View Data</a>

    <a class="links" href="<%= flairInsightsLink %>">Flair Insights</a>

    <div id="logo-container">
      <img id="app-logo" src="<%= AppLogo %>" alt="Logo Image">
    </div>
  </div>
</body>

</html>